.section-blog__wrap {
    display: flex;
}
.section-blog__content {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
    color: #ffffff;
}

.section-blog__dop {
    width: 40%;
}

.blog__content-slider {
    position: relative;
    width: 700px;
    height: 380px;
    background-image: url(../img/blog/bg.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-slider-btn {
    display: flex;
}

.content-slider-btn__blue {
    width: 150px;
    height: 35px;
    border-radius: 9px;
    border: 1px solid #000000;
    background-color: #798aa6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.content-slider-btn__red {
    width: 90px;
    height: 35px;
    border-radius: 9px;
    background-color: red;
    border: 1px solid #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indent {
    margin-bottom: 10px;
}

.content-slider__btnLR > button {
    background-color: transparent;
    border: none;
    outline: none;
}

.btnLR__L {
    position: absolute;
    top: 40%;
    left: 0;
}

.btnLR__R {
    position: absolute;
    top: 40%;
    right: 0;
}

.section-blog__post {
    margin-top: 100px;
    color: #000000;
    width: 700px;
}

.post__title {
    margin-bottom: 20px;
}
.post__title > h2 {
    font-size: 36px;
}

.post__descr-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.post__descr {
    display: flex;
}

.post__descr > p {
    margin-right: 15px;
}

.post__coment, .post__views {
    display: flex;
    margin-right: 15px;
}

.post__coment > img, .post__views > img {
    margin-right: 10px;
}

.text-section > p {
    font-size: 16px;
    font-weight: 500;
}

.link-section > a {
    color: #428bca;
    font-size: 20px;
    font-weight: 500;
}

.post__com-vie__wrap {
    display: flex;
}

.section-blog__content-btn {
    margin-top: 20px;
}

.section-blog__content-btn > button {
    padding: 10px;
    border-radius: 5px;
    background-color: #efede7;
    font-size: 20px;
    font-weight: 700;
}

.section-blog__content-btn > button:hover {
    background-color: #798aa6;
    color: #ffffff;
}

.section-blog__dop {
    margin-top: 100px;
}

.blog__dop-post {
    margin-top: 20px;
}

.blog__dop-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.blog__dop-title > h3 {
    font-size: 24px;
}

.blog__dop-post__image {
    width: 40%;
}
.blog__dop-post__content {
    width: 60%;
}

.blog__dop-post__content > h4{
    color: #798aa6;
    font-size: 16px;
    font-weight: 700;
}

.blog__dop-post__content > p{
    font-size: 14px;
}

.blog__dop-post {
    display: flex;
}

.dop-post__content-category {
    display: flex;
    color: #868282;
}

.dop-post__content-category > p {
    margin-right: 10px;
}

.dop-post__content-comview {
    display: flex;
}

.content-comview__comment, .content-comview__viewer {
    display: flex;
    margin-right: 20px;
}

.blog__dop-post__content > h4, .blog__dop-post__content > p, .dop-post__content-category, .dop-post__content-comview {
    margin-bottom: 5px;
}

.blog__dop-rubrik {
    margin-top: 50px;
}

.rubrik-title > h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.rubrik-line {
    display: flex;
    flex-direction: column;
}

.rubrik-line > a {
    position: relative;
    color: #798aa6;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 20px;
}

.rubrik-line > a::before {
    content: url(../img/blog/desktop-nav-arrow.png);
    position: absolute;
    left: -20px;
}

.blog__dop-form {
    margin-top: 50px;
}

.dop-form__content {
    width: 70%;
}

.dop-form__content > h3{
    font-size: 24px;
    margin-bottom: 15px;
}

.dop-form__content > p {
    color: #7e7e7e;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.dop-form__inpt {
    border: 1px solid #868282;
    padding: 12px;
    border-radius: 5px;
    margin-right: 10px;
}

.dop-form__btn {
    border-radius: 5px;
    background-color: #f81010;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 300px) and (max-width: 1400px) {
    .section-blog__dop {
        display: none;
    }
    .section-blog__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog__content-slider {
        width: 550px;
    }

    .section-blog__post {
        margin-top: 100px;
        color: #000000;
        width: 550px;
    }
    .post__descr-wrap {
        flex-direction: column;
    }
    .post__com-vie__wrap {
        margin-top: 20px;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    .section-blog__post {
        width: 300px;
    }
    .post__title > h2 {
        font-size: 26px;
    }
    .post__descr > p {
        font-size: 14px;
    }
    .section-blog__content {
        margin-top: 0px;
    }
    .blog__content-slider {
        display: none;
    }
}